*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #0D0D0D;
    color: #F3F3F3;
}

.navbar{
    display: flex;
    padding: 20px 0;
    background-color: #0b0b0bfc;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1;
}

#text{
    text-align: center;
    font-size: 42px;
    font-size-adjust: none;
}

#links{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style-type: none;
    font-size: 24px;
}

#links li{
    display: inline;
    padding: 0 6%;
}

.main{
    padding: 88px 15%;
}

.wrapper{
    display: flex;
    text-align: center;
    margin: 50px 0;
    border: 6px solid #121212;
    background-color: #121212;
    border-radius: 25px;
    padding: 3%;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 1s;
    z-index: 0;
}
.wrapper:hover{
    transform: scale(105%);
    z-index: -1;
    box-shadow: 5px 10px 5px #000000;
}

.wrapper img{
    width: 100%;
    border-radius: 25px;
}

footer{
    padding: 0 3%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: 80px;
    background-color: #0B0B0B;
}

