*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: grid;
    grid-template-columns: 10% 20% 40% 20% 10%;
    grid-template-rows: 33% 33% 33%;
    padding: 3% 0;
    color: #FFFFFF;
    background-color: #000000;
}

#text{
    grid-column-start: 2;
    grid-row: 1 / 4;
    text-align: center;
    font-size: 42px;
}

#links{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 4;
    grid-row-start: 2;
    text-align: center;
    list-style-type: none;
    font-size: 35px;
}

#links li{
    display: inline;
    padding: 0 6%;
}

.main{
    padding: 30px 15%;
    margin: 0px 0;
}

.wrapper{
    display: flex;
    margin: 50px 0;
    border: 6px solid black;
    border-radius: 10px;
    padding: 3%;
    font-size: 30px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.wrapper img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

footer{
    padding: 0 3%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: 80px;
    background-color: #000000;
}

footer a{
    color: #FFFFFF;
}
